# Data Science Tools

In this notebook, data science tools and ecosystem are summarized.

## Some of the markdwon cell created to list 

1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++
8. Ruby

# Data Science Libraries
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. PyTorch
7. Tensorflow

## Data Science Tools

1. Anaconda
2. Jupyter Notebooks
3. R Studio
4. Spyder
5. Zeppelin

## Below are a few examples of evaluating arithmetic expressions in Python


1. Basic Arithmetic/Mixed Operation:
   5+3=8
   9-2=7
   3*4=12
   6/2=3
2. Exponents:
   2**3=8
3. Modulo(Remainder):
   5%2=1
4. Parentheses for Grouping:
   (4+3)*5=35

In [2]:
#This is a sample arithmetic expression to multiply and addition
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200//60

3

## Objectives(Insert a markdown cell to list Objectives): 
- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author(s)
Junyoung Kim